.about-us-big-container{
    height: 40vh;
}
.about-us-container{
    background-image: linear-gradient(rgba(255, 255, 255, 0.250), rgba(0, 0, 0, 1)), url("../images/IngeALPACoverbg.png");
    background-position: 50%;
    height: 100%;
    background-size: cover;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.list-unstyled{
    justify-items: start;
}

.image-container {
    position: relative;
    border: 10px solid #ccc;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 550px;
}

@media (max-width: 992px){
    .image-container img {
        min-height: 400px;
    }
}
@media (max-width: 576px){
    
}

@media (max-height: 720px){
    
}
@media (max-height: 640px){
    
}
@media (max-height: 560px){
    
}
@media (max-height: 485px){
    
}
@media (max-height: 410px){
    
}
@media (max-height: 330px){
    
}
@media (max-height: 250px){
    
}