.about-us-big-container{
    height: 40vh;
}
.about-us-container{
    background-image: linear-gradient(rgba(255, 255, 255, 0.250), rgba(0, 0, 0, 1)), url("../images/bg2.jpg");
    background-position: 50%;
    height: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.GolfoSanJorge-item-big-container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.500), rgba(0, 0, 0, 0.400)), url("../images/CuencaGolfoSanJorge.png");
    background-size: cover;
    background-position: 50%;
}

.CuencaNeuquen-item-big-container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.500), rgba(0, 0, 0, 0.400)), url("../images/CuencaNeuquinaNeuquen.jpg");
    background-size: cover;
    background-position: 50%;
}

.CuencaRioNegro-item-big-container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.500), rgba(0, 0, 0, 0.400)), url("../images/CuencaRioNegro.jpg");
    background-size: cover;
    background-position: 50%;
}

.CuencaMendoza-item-big-container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.500), rgba(0, 0, 0, 0.400)), url("../images/CuencaNeuquinaMendoza.png");
    background-size: cover;
    background-position: 50%;
}

.item-text-content{
    background-color: #21252991;
    backdrop-filter: blur(10px);
    width: 55vh;
    height: 20vh;
    margin-left: 5%;
    transform: translateY(50%);
    justify-items: center;
    align-content: center;
    text-align: center;
}

.area-items{
    margin-top: 35%;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}

.items{
    justify-items: center;
    text-align: center;
}

.area-items .col {
    border-left: 2px solid #ffffff;
}

.area-items .col:first-child {
    border-left: none;
}

@media (max-width: 992px){
    .area-items .col {
        border-left: none;
    }
}
@media (max-width: 576px){
    .area-items{
        margin-top: 25%;
        justify-content: start;
    }
    .items{
        justify-items: start;
        justify-content: start;
        text-align: start;
    }
}

@media (max-height: 720px){
    .area-items{
        margin-top: 30%;
    }
    .item-text{
        font-size: large;
    }
}
@media (max-height: 640px){
    .area-items{
        margin-top: 25%;
    }
}
@media (max-height: 560px){
    .area-items{
        margin-top: 20%;
    }
}
@media (max-height: 485px){
    .area-items{
        margin-top: 15%;
    }
    .item-text{
        font-size: medium;
    }
}
@media (max-height: 410px){
    .area-items{
        margin-top: 10%;
    }
    .item-text{
        font-size: small;
    }
}
@media (max-height: 330px){
    .area-items{
        margin-top: 5%;
    }
    .item-text{
        font-size: smaller;
    }
}
@media (max-height: 250px){
    .area-items{
        margin-top: 0%;
    }
}