.navbar {
    z-index: 20;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #21252962;
}

.carousel-item img {
    height: 100vh;
    object-fit: cover;
}

.carousel-container{
    width: 50vh;
    min-height: 15vh;
    align-content: center;
    justify-items: center;
    position: absolute;
    background-color: #21252998;
    bottom: 30%;
    left: 2%;
    color: #ffffff;
    z-index: 10;
}

.carousel-text h1 {
    font-size: 3rem;
}

.carousel-text p {
    font-size: 1.5rem;
}

.carousel-indicators .rounded-circle {
    width: 1.2vh;
    height: 1.2vh;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s;
}

.carousel-indicators .active {
    background-color: white;
}

.about-us-big-container{
    width: 100%;
    height: 80vh;
}

.about-us-container{
    background-image: linear-gradient(rgba(255, 255, 255, 0.250), rgb(255, 255, 255, 0.600)), url("../images/GolfoSanJorge1.jpg");
    background-position: 50%;
    height: 100%;
    background-size: cover;
    align-content: center;
}

.about-us-text-container{
    background-color: #21252991;
    backdrop-filter: blur(10px);
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.lead-text{
    margin: 5%;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

.column-icon{
    width: 40px;
}

.customers-icons-column{
    margin: 10%;
}

.logo-grayscale{
    filter: grayscale(0%);
    transition: filter 0.3s ease
}

.logo-grayscale:hover {
    filter: grayscale(100%);
}

.services-row{
    margin-top: 7%;
    height: 80vh;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.services-items-exploracion{
    width: 55vh;
    padding-top: 15%;
    padding-bottom: 15%;
    margin-left: 2%;
    margin-right: 2%;
    background-image: linear-gradient(rgba(19, 37, 91, 0.224), rgb(19, 37, 91)), url("../images/ExploracionImage.jpeg");
    background-position: 55%;
    background-size: cover;
}

.services-items-produccion{
    width: 55vh;
    padding-top: 15%;
    padding-bottom: 15%;
    margin-left: 2%;
    margin-right: 2%;
    background-image: linear-gradient(rgba(19, 37, 91, 0.224), rgb(19, 37, 91)), url("../images/ProduccionImage.jpg");
    background-position: 50%;
    background-size: cover;
}

.service-item:hover{
    transform: scale(1.20);
    transition: transform 0.3s ease;
}

.services-items-link{
    text-decoration: none;
}

.services-items-h4{
    color: white;
}

.op-text{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

@media (max-height: 720px){
    .op-text{
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
}
@media (max-width: 485px){
    .carousel-container{
        width: 45vh;
    }
    .op-text{
        padding-top: 10vh;
        padding-bottom: 5vh;
    }
}