.navbar {
    z-index: 20;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #21252962;
}

.carousel-item img {
    height: 100vh;
    object-fit: cover;
}

.carousel-text {
    position: absolute;
    bottom: 35%;
    left: 5%;
    color: #ffffff;
    z-index: 10;
}

.carousel-text h1 {
    font-size: 3rem;
}

.carousel-text p {
    font-size: 1.5rem;
}

.carousel-indicators .rounded-circle {
    width: 1.2vh;
    height: 1.2vh;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s;
}

.carousel-indicators .active {
    background-color: white;
}

.about-us-big-container{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.about-us-container{
    background-image: linear-gradient(rgba(255, 255, 255, 0.242), rgba(255, 255, 255, 0.753)), url("../images/bg2.jpg");
    background-position: 50%;
}

.lead-text{
    margin: 5%;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

.column-icon{
    width: 40px;
}

.customers-icons-column{
    margin: 10%;
}

.logo-grayscale{
    filter: grayscale(100%);
    transition: filter 0.3s ease
}

.logo-grayscale:hover {
    filter: grayscale(0%);
}

.services-row{
    margin-top: 5%;
    align-items: center;
}

.services-items{
    width: 45vh;
    padding-top: 15%;
    padding-bottom: 15%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #212529
}

.service-item:hover{
    transform: scale(1.25); 
}

.services-items-link{
    text-decoration: none;
}

.services-items-h4{
    margin-top: 5%;
    color: white;
}

.services-items-logo{
    width: 20vh;
    height: 20vh;
    transition: transform .2s; 
}